body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* Верхняя надпись */
.top-title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: #1a1a1a;
    color: white;
}
