body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* Навбар */
.navbar {
    width: 100%;
    background: #1a1a1a;
    color: white;
    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.auth-buttons .btn {
    margin-left: 15px;
    padding: 8px 14px;
    background: #00aaff;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.auth-buttons .btn:hover {
    background: #0088cc;
}
.form-container {
    width: 320px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    background: #00aaff;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-container .btn:hover {
    background: #0088cc;
}

.link {
    display: block;
    margin-top: 15px;
    color: #0077cc;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

